    <h1><strong><%= @user.name %>'s Runs</strong></h1>
<div id="runs" class="transitions-enabled">
    <% if @runs %>
	<% @runs.each do |run| %>
      <div class="box panel-default">
        <% if run.rundate >= Time.now.beginning_of_month - 1.month %>
        <% if run.image? %>
        <%= link_to image_tag(run.image.url(:medium)), run %>
        <% else %>
        <%= link_to image_tag(run.user.avatar.url(:medium)), run %>
        <% end %></br>  
        <% end %>      
        <div class="panel-body">
        <strong><%= run.user.name if run.user %></strong></br>
        <strong>Distance:</strong> <%= run.distance %><br/>
        <strong>Pace:</strong> <%= run.pace %><br/>
        <strong>Date:</strong> <%= run.rundate.strftime("%m/%d/%Y") %><br/>
        <% if current_user && run.user == current_user %>
        <div class="actions">
          <%= link_to edit_run_path(run) do %>
          <span class="glyphicon glyphicon-edit"></span>Edit
          <% end %>
          <%= link_to run, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <span class="glyphicon glyphicon-trash"></span>Delete
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <% end %>
</div>


