<h1>My Runs</h1>
<div id="runs" class="transitions-enabled">
    <% @runs.each do |run| %>
    <% if current_user && run.user == current_user %>
      <div class="box panel-default">
        <% if run.image? %>
        <%= link_to image_tag(run.image.url(:medium)), run %>
        <% else %>
        <%= link_to image_tag(run.user.avatar.url(:medium)), run %>
        <% end %></br>        
        <div class="panel-body">
        <strong><%= run.user.name if run.user %></strong></br>
        <strong>Distance:</strong> <%= run.distance %><br/>
        <strong>Pace:</strong> <%= run.pace %><br/>
        <strong>Date:</strong> <%= run.date %><br/>
        <div class="actions">
          <%= link_to edit_run_path(run) do %>
          <span class="glyphicon glyphicon-edit"></span>Edit
          <% end %>
          <%= link_to run, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <span class="glyphicon glyphicon-trash"></span>Delete
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <% end %>
</div>

<div class="center">
   <%= will_paginate @runs, renderer: BootstrapPagination::Rails %>
</div>