<%= link_to runs_path do %>
	<span class="glyphicon glyphicon-chevron-left"></span>Back
<% end %>

<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<div class="panel panel-default">
		<div class="panel-heading center">
			<% if run.image? %>
        <%= link_to image_tag(run.image.url(:medium)), "/" + run.user_id.to_s %>
        <% elsif run.user.avatar? %>
        <%= link_to image_tag(run.user.avatar.url(:medium)), "/" + run.user_id.to_s %>
        <% else %>
        <%= image_tag("runner.jpg") %>
        <% end %></br>
		</div>
			<div class="panel-body">
				<p><strong><%= @run.user.name if @run.user %></strong></p>
				<p><strong>Distance: </strong><%= @run.distance %></p>
				<p><strong>Pace: </strong><%= @run.pace %></p>
				<p><strong>Date: </strong><%= @run.rundate.strftime("%m/%d/%Y") %></p>				
				<% if current_user && @run.user == current_user %>
					<%= link_to edit_run_path(@run) do %> 
						<span class="glyphicon glyphicon-edit"></span>Edit
					<% end %>
					<%= link_to @run, method: :delete, data: { confirm: 'Are you sure?' } do %>
         			 <span class="glyphicon glyphicon-trash"></span>Delete
          			<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>
